<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Intersections: User Login</title>
  <link rel="stylesheet"  type="text/css" href="/static/css/loginstyle.css"">
</head>

<body>

{% block main %}
  <section class="container">
    <div class="login">

      <h1>Intersections Login</h1>
      <form method="post">
	  	{% csrf_token %}
        <p><input type="text" name="username" value="" placeholder="Username"></p>
        <p><input type="password" name="password" value="" placeholder="Password"></p>
         <p class="remember_me">
          <label>
             {% if invalid %}
				Email/Password is incorrect. 
				{% endif %}
			{% if inactive %}
				User is inactive. 
	{% endif %} 
          </label>
        </p>
		<p class="submit"><input type="submit" name="commit" value="Login"></p>
      </form>
	
    </div>
	

  </section>
{% endblock %}

<section class="about">

    <p class="about-author">
      &copy; 2013&ndash;2014 <a href="http://www.google.com" target="_blank">Computer Studies</a> -
      <a href="http://www.google.com" target="_blank">ADDU</a><br>
       <a href="http://www.premiumpixels.com/freebies/clean-simple-login-form-psd/" target="_blank">G2S3 Productions</a>
  </section>
</body>
</html>
