<!DOCTYPE html>

<html>
	<head>
		<!--<script src="/static/js/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="/static/js/jquery-1.6.1.min.js"></script>
<script type="text/javascript">

$(document).ready(function(){
//open popup
$("#pop").click(function(){
  $("#overlay_form").fadeIn(1000);
  positionPopup();
});

//close popup
$("#close").click(function(){
  $("#overlay_form").fadeOut(500);
});
});

//position the popup at the center of the page
function positionPopup(){
  if(!$("#overlay_form").is(':visible')){
    return;
  } 
  $("#overlay_form").css({
      left: ($(window).width() - $('#overlay_form').width()) / 2,
      top: ($(window).width() - $('#overlay_form').width()) / 7,
      position:'absolute'
  });
}

//maintain the popup at center of the page when browser resized
$(window).bind('resize',positionPopup);

</script>-->
		<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css"/>
		 <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{% block title %}{% endblock %}</title>
	</head>



	<body>
        



    <div class="container">

      <div class="masthead">
        <h3 class="muted"><a class="brand" href="http://127.0.0.1:8000"><img class="logo3" src="/static/img/StatThis.png" height="70" width="70"></a></h3>
        <!--<div class="navbar">
          <div class="navbar-inner">
            <div class="container">
               <ul class="nav">
              <li class="">
                <a href="http://127.0.0.1:8000/gettingstarted">Get started</a>
              </li>
              <li class="">
                <a href="/questionnairelist">Surveys</a>
              </li>
              <li class="">
                <a href="/analyze-questionnaires">Statistics</a>
              </li>
              <li class="">
                <a href="http://127.0.0.1:8000/about">About</a>
              </li>

            </ul>

            <form class="navbar-form pull-right">
            {% csrf_token %}  
              <ul class="nav">
              <li class="">
                <a href="/profile/{{ user.username }}/" id="pop">{{ user.first_name }} {{ user.last_name }}</a>
              <li class="">
                <a href="/logout" id="pop">Log Out</a>
              </li>
            </form>
            </ul>
            </div>
          </div>-->
        </div><!-- /.navbar -->
      </div>
      <!-- Main hero unit for a primary marketing message or call to action -->
      

      <!-- Example row of columns -->
  

 
    </div> <!-- /container -->

    <!--<form id="overlay_form" style="display:none" method='POST'>
      <center>
        <h2> Sign In</h2>
        
        {% csrf_token %}
        <label>Username: </label>
        {{login_form.username}}
        <label>Password: </label>
        {{login_form.password}}<br>
        <button type="submit" class="btn btn-primary">Sign In</button><br><br>
          <!--<label>Username: </label><input type="text" name="username" /><br /><br />
          <label>Password: </label><input type="password" name="password" /><br /><br/>
          <a href="" class="btn btn-primary">Sign In</a><br/><br/>
            <a href=""><img class="logo3" src="/static/img/sign-in-with-twitter-gray.png"><br/><br/>-->
          <!--<a href="http://127.0.0.1:8000/register/"  class="btn btn-primary">Sign Up</a></button>
          <a href="#" id="close"  class="btn btn-primary">Close</a></button>
          </center>
        </form>-->

	
</div>
	<div class="container" id="page-wrapper">
		{% block content %}
		{% csrf_token %}
		{% endblock content %}
		


	</div>

</div>
    <div class="wrapper">  
  <div class="push"></div>
</div>
  <div class="footer">
    <hr>

        <center>
        <p> &copy; 2013 StatThis.com. &middot; <a href="http://127.0.0.1:8000/privacy">Privacy</a> &middot; <a href="http://127.0.0.1:8000/terms">Terms</a></p>
        <p class="pull-center"><a href="#">Back to top</a></p>
      </center>

  </div>

   

	</body>

	</html>
