{% extends "base.html" %}
{% block content %}
<head>
<link rel="stylesheet"  type="text/css" href="/static/css/tables.css">
</head>

<body>
<table style="width:300px">
{% if accident_list %}
<tr>
	<td>ID</td>
	<td>Description</td>
	<td>Road ID</td>
	<td>Date and Time</td>
	<td>Remarks</td>
<tr>
{% for i in accident_list %}
<tr>
	<td>{{i.id}}</td>
	<td>{{i.description}}</td>
	<td>{{i.roadID}}</td>
	<td>{{i.datetime}}</td>
	<td>{{i.remarks}}</td>
<tr>
{% endfor %}
</table>
{% endif %}

</body>
{% endblock content %}
